@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
*:before, *:after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

body {
  background: #2c3e50; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2c3e50 , #3498db); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2c3e50 , #3498db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FF7A18;
  font: 87.5%/1.5em 'Source Sans Pro', sans-serif;
  margin: 0;
}
.heading{
  top: -120px;
  left: 0px;
  position: relative;
  font-size: 35px;
  font-weight: bolder;
}
.img1{
  position: absolute;
  top: 7px;
  left: 550px;
  width: 190px;
  height: 190px;
  opacity: 0.9;
  padding-bottom: 0px;
}
.img2{
  position: absolute;
  top: -100px;
  left: 65px;
  opacity: 0.9;
  padding-bottom: 150px;
  padding-top: 50px;
}
a {
  color: #eee;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  border: none;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

p {
  line-height: 1.5em;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}

.container {
  left: 50%;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#login {
  width: 280px;
}

#login form span {
  background-color: #363b41;
  border-radius: 3px 0px 0px 3px;
  color: #FF7A18;
  display: block;
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}

#login form input {
  height: 50px;
}

#login form input[type="text"], input[type="password"] {
  background-color: #000;
  border-radius: 0px 3px 3px 0px;
  color: #FF7A18;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 230px;
}

#login form input[type="submit"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #FF7A18;
  color: #eee;
  font-weight: bold;
  margin-bottom: 2em;
  text-transform: uppercase;
  width: 280px;
}
@keyframes shake{
  10%,30%,50%,70%,90% {left:100;}
  20%,40%,60%,80%,100% {left:-100;}
  100%{left:0;}
}

#myBtn:hover {
  background-color: #D35400;
  animation-name: shake;
  animation-duration: 2s;
}

#myBtn {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #FF7A18;
  color: #eee;
  font-weight: bold;
  margin-bottom: 2em;
  text-transform: uppercase;
  width: 280px;
  padding-left: 65px;
}


#login > p {
  text-align: center;
}

#login > p span {
  padding-left: 5px;
}
