<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>108 Emergency</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
</head>

<body style="background: black;">
    <div id="particles-js"></div>
    <link rel="stylesheet" href="/css2/style.css" media="screen" type="text/css" />
    <img class="img1" src="http://vikaspedia.in/health/first-aid/108-emergency-response-service-1" alt="108 image">
    <div class="container">
        <div id="login">
            <form action="/users/login" method="post">
                <fieldset class="clearfix">
                    <p><span class="fontawesome-user"></span><input type="text" value="Username" name="username" onBlur="if(this.value == '') this.value = 'Username'" onFocus="if(this.value == 'Username') this.value = ''" required></p>
                    <p><span class="fontawesome-lock"></span><input type="password" value="Password" name="password" onBlur="if(this.value == '') this.value = 'Password'" onFocus="if(this.value == 'Password') this.value = ''" required></p>
                    <p><input type="submit" value="Login"></p>
                </fieldset>
            </form>
        </div>
    </div>
</body>
<script src="/js/particles.js"></script>
<script src="/js/app.js"></script>
</html>
