<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>Personnel Registration</title>
    <link rel="stylesheet" href="/css2/style.css" media="screen" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
</head>

<body style="background: black;">
    <div id="particles-js"></div>
    <div class="container">
        <img class="img2" src="http://vikaspedia.in/health/first-aid/108-emergency-response-service-1" alt="108 image">
        <div id="login">
            <form action="/users/register" method="post" enctype="multipart/form-data">
                <fieldset class="clearfix">
                    <br><br><br><br><br>
                        <p><span class="fontawesome-tag"></span><input type="text" value="Name" name="name" onBlur="if(this.value == '') this.value = 'Name'" onFocus="if(this.value == 'Name') this.value = ''"></p>
                        <p><span class="fontawesome-envelope"></span><input type="text" value="Email" name="email" onBlur="if(this.value == '') this.value = 'Email'" onFocus="if(this.value == 'Email') this.value = ''" </p>
                        <p><span class="fontawesome-user"></span><input type="text" value="Username" name="username" onBlur="if(this.value == '') this.value = 'Username'" onFocus="if(this.value == 'Username') this.value = ''"></p>
                        <p><span class="fontawesome-lock"></span><input placeholder="Password" type="password" value="Password" name="password" onBlur="if(this.value == '') this.value = 'Password'" onFocus="if(this.value == 'Password') this.value = ''"></p>
                        <p><span class="fontawesome-lock"></span><input placeholder="Confirm Password" type="password" value="Password2" name="password2" onBlur="if(this.value == '') this.value = 'Password2'" onFocus="if(this.value == 'Password2') this.value = ''"></p>
                        <p><span class="fontawesome-cloud-upload"></span><input type="file" name="profileimage" style="display: block; padding-top: 12px; padding-left: 50px;"></p>
                        <p><input type="submit" name="submit" value="Register"></p>
                </fieldset>
            </form>
        </div>
    </div>

</body>
<script src="/js/particles.js"></script>
<script src="/js/app.js"></script>
</html>
